*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
img{
  border-style: none;
  max-width: 100%;
}
#carrusel{
  width: 90%;
  height: 28rem;
  border: solid 8px black;
  background: grey;
  max-width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
#carrusel input{
  font-size: 2rem;
}
